/* src/components/Quiz.css */
.question {
  margin-bottom: 20px;
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: log 1s ease-in-out 10 ;
}
@keyframes log{
  0%{
    background-color: red;
    color: white;
  }
  80%{
    background-color: orange;
    color: white;
    transform: rotate3d(120deg);
    transform: skewX(10deg);
    transform:translateZ(3deg)  }

}

button {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

button.selected {
  background-color: red;
  color: white;
  border-color: #4CAF50;
}
