
.navbar-header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: double;
    text-shadow: 2px;
    width: 100%;
}
.button{
    margin-left: 30%;
    position:hidden;
}
#btns{
    position: -ms-page;
}
.navbar-brand:hover{
    background-color: whitesmoke;
}
#img{
    float: right;
    margin-top: -4.5em;
    margin-right: 2em;
}
.title{
    color: white;
    animation: title 1s ease-in-out infinite;
}
#rest{
    width: 200px;
    height: 100px;
    margin-left: 5em;
}
#navbar{
    position: fixed;
    width: 100%;
}
#em-btn{
    border: none;
    margin-left: 1em;
    padding: 1em;
    border-radius: 6px;
}
.em-btn:hover{
    background-color: green;
    transition-delay: 0.2s;
    color: white;
}

#exp{
    margin-top: 2em;
}
#exp>h2{
    margin-top: 2em;
}
.git-btn{
    border: none;
    margin-left: 1em;
    padding: 1em;
    border-radius: 6px;
}

.git-btn:hover{
    background-color: green;
    transition-delay: 0.2s;
    color: white;
}
.lkn-btn{
    border: none;
    margin-left: 1em;
    padding: 1em;
    border-radius: 6px; 
}
.lkn-btn:hover{
    background-color: lightblue;
    transition-delay: 0.2s;
    color: black;
}
.ins-btn{
    border: none;
    margin-left: 1em;
    padding: 1em;
    border-radius: 6px;   
}
.ins-btn:hover{
    background-color: red;
    transition-delay: 0.2s;
    color: white;
}
.twt-btn{
    border: none;
    margin-left: 1em;
    padding: 1em;
    border-radius: 6px; 
}
.twt-btn:hover{
    background-color: blue;
    transition-delay: 0.2s;
    color: white;
}
